<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dsaouda.wishlist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.github.dsaouda.wishlist.App"
        android:allowBackup="true"
        android:icon="@drawable/shopping_cart_128"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shopping_cart_20"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.dsaouda.wishlist.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.github.dsaouda.wishlist.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.dsaouda.wishlist.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name="com.github.dsaouda.wishlist.ProdutoActivity"
            android:label="@string/title_activity_produto">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.dsaouda.wishlist.MainActivity" />

        </activity>

        <activity android:name="com.github.dsaouda.wishlist.SobreActivity"
            android:label="@string/title_activity_about">
        </activity>
    </application>

</manifest>